body { background: rgba(198, 198, 207, 0.37) !important; } 
.gap{
  margin-top: 20px;
}
.div1{

}
.card{
  margin-top: 20px;
 
}
.table{
  margin-top:10px ;
  margin-bottom:30px ;
}
h4{
  color: blue;
  text-align: center;
}